catkin-pkg==0.4.20        # via -r requirements.in, rospkg
distro==1.5.0             # via rospkg
docutils==0.16            # via catkin-pkg
nose==1.3.7               # via -r requirements.in
pyparsing==2.4.7          # via catkin-pkg
python-dateutil==2.8.1    # via catkin-pkg
rospkg==1.2.6             # via -r requirements.in
six==1.15.0               # via python-dateutil
