certifi==2022.12.7        # via requests
charset-normalizer==3.1.0  # via requests
idna==3.4                 # via requests
packaging==23.1           # via -r requirements.in
requests==2.29.0          # via -r requirements.in
urllib3==1.26.15          # via requests
